<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>MessMate</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="../assets/img/favicon.png" rel="icon" />
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link href="../css/main_style.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="index.html"><span>MessMate</span></a>
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About Us</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Our Clients</a>
            </li>
            <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
            <!-- <li class="dropdown">
              <a href="#"
                ><span>Drop Down</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span>
                    <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li> -->
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted" href="login">Login</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>
              Simplify your
              <span style="color: #eb5d1e">Mess-y</span> Management
            </h1>

            <h2>Enjoy a streamlined dining experience with MessMate</h2>
            <div>
              <a href="#contact" class="btn-get-started scrollto">Contact Us</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              height="80%"
              width="75%"
              src="https://firebasestorage.googleapis.com/v0/b/do-it-5e954.appspot.com/o/mess_pic%20.png?alt=media&token=1f7a68f8-2c84-4d37-aef2-58fa32e3370e&_gl=1*14fs5s6*_ga*MTkyNDE4MzE1OC4xNjk2Nzg4ODA3*_ga_CW55HF8NVT*MTY5ODQ0MDIyOS4zLjEuMTY5ODQ0MDI2MC4yOS4wLjA."
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <main id="main">
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between">
            <div
              class="col-lg-5 d-flex align-items-center justify-content-center about-img"
            >
              <img
                width="80%"
                height="80%"
                src="https://firebasestorage.googleapis.com/v0/b/do-it-5e954.appspot.com/o/mess_pic%20%20(1).png?alt=media&token=6b9316f7-da8d-4548-834e-bfd8c2432796&_gl=1*grxkku*_ga*MTkyNDE4MzE1OC4xNjk2Nzg4ODA3*_ga_CW55HF8NVT*MTY5ODQ0MjI2My40LjEuMTY5ODQ0MjI4My40MC4wLjA."
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
              />
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
              <h3 data-aos="fade-up">What we do?</h3>
              <p data-aos="fade-up" data-aos-delay="100">
                MessMate revolutionizes mess management by providing a seamless
                platform connecting users with owners.
              </p>
              <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx"></i>
                  <img
                    style="margin-top: 15px"
                    height="20%"
                    width="20%"
                    src="../assets/img/service/1.svg"
                    style="margin-bottom: 20px"
                  />
                  <h4>Mess Owners</h4>
                  <p>
                    MessMate provides mess owners with a powerful suite of tools
                    to streamline operations. Manage transactions, track
                    attendance, and optimize resources effortlessly. Elevate
                    your mess management with MessMate's intuitive dashboard and
                    dedicated support.
                  </p>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx"></i>
                  <img
                    style="margin-top: 10px"
                    height="23%"
                    width="20%"
                    src="../assets/img/service/2.svg"
                    style="margin-bottom: 20px"
                  />
                  <h4>Mess Users</h4>
                  <p>
                    MessMate offers users a hassle-free way to connect with mess
                    owners. Enjoy cashless transactions, keep tabs on expenses,
                    and contribute to reducing food wastage with our convenient
                    attendance feature. Elevate your dining experience with
                    MessMate.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h1>Services</h1>
          <p>Check out the great services we provide</p>
        </div>

        <div class="row">
          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="icon">
                <i class="bx"></i
                ><img
                  height="18%"
                  width="18%"
                  src="../assets/img/service/1.png"
                  style="margin-bottom: 20px"
                />
              </div>
              <h4 class="title"><a href="">Admin Panel</a></h4>
              <p class="description">
                Effortlessly manage menus, track orders, and gain valuable
                insights to streamline operations.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon">
                <i class="bx"></i
                ><img
                  height="18%"
                  width="18%"
                  src="../assets/img/service/3.png"
                  style="margin-bottom: 20px"
                />
              </div>
              <h4 class="title"><a href="">Advertising</a></h4>
              <p class="description">
                Advertise your culinary offerings on our platform and connect
                with a large audience.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon">
                <i class="bx"></i
                ><img
                  height="18%"
                  width="18%"
                  src="../assets/img/service/modern.png"
                  style="margin-bottom: 20px"
                />
              </div>
              <h4 class="title"><a href="">Automated System</a></h4>
              <p class="description">
                From automated ordering to instant receipts, elevate your
                service with innovation.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="icon-box">
              <div class="icon">
                <i class="bx"></i
                ><img
                  height="18%"
                  width="18%"
                  src="../assets/img/service/cashless.png"
                  style="margin-bottom: 20px"
                />
              </div>
              <h4 class="title"><a href="">Cashless Transaction</a></h4>
              <p class="description">
                Enjoy a seamless and efficient way to manage your mess finances
                & say goodbye to the hassle of handling cash.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <!-- <h2>Portfolio</h2> -->
          <p>Our Clients</p>
        </div>

        <div
          class="row portfolio-container"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <% if (messList && messList.length > 0) { %> <%
          messList.forEach(messSystem => { %>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img
                width="100%"
                height="100px"
                src="https://content.jdmagicbox.com/comp/bilaspur-chhattisgarh/b4/9999p7752.7752.220710141051.w8b4/catalogue/community-kitchen-bilaspur-city-bilaspur-chhattisgarh-tiffin-services-711qjd0qyx.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-links">
                <a
                  href="https://content.jdmagicbox.com/comp/bilaspur-chhattisgarh/b4/9999p7752.7752.220710141051.w8b4/catalogue/community-kitchen-bilaspur-city-bilaspur-chhattisgarh-tiffin-services-711qjd0qyx.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Sai mess food cornor"
                  ><i class="bi bi-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bi bi-link"></i
                ></a>
              </div>
              <div class="portfolio-info">
                <h4><%= messSystem.messName %></h4>
                <p><%= messSystem.location %></p>
              </div>
            </div>
          </div>
          <% }) %> <% } else { %>
          <p>No data available</p>
          <% } %>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h1>Contact Us</h1>
        </div>

        <div class="row">
          <div
            class="col-lg-5 d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Bilaspur Chhattisgarh</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>nikhilverma.nv345@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>6264714906</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14789.73505407802!2d82.11121589371314!3d22.07124561296626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a280ca3d85b195f%3A0x11d344a32e9a943e!2sYadunandan%20Nagar%2C%20Tifra%2C%20Bilaspur%2C%20Chhattisgarh!5e0!3m2!1sen!2sin!4v1698517236819!5m2!1sen!2sin"
                frameborder="0"
                style="border: 0; width: 100%; height: 250px"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div
            class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <form
              id="contactForm"
              action="/contact"
              method="post"
              class="php-email-form"
            >
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required
                  />
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="number">Your Number</label>
                  <input
                    type="number"
                    class="form-control"
                    name="number"
                    id="number"
                    placeholder="Your Number"
                    required
                  />
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="subject">Subject</label>
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <label for="message">Message</label>
                <textarea
                  class="form-control"
                  name="message"
                  rows="10"
                  id="message"
                  required
                ></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
              </div>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <script src="../assets/js/main.js"></script>
  </body>
</html>
