<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="card_style.css" />

    <link href="../css/card_style.css" rel="stylesheet" />
</head>

<body>
    <div class="main-body">
        <div class="card-group">
            <div class="card">
                <div class="logo">
                    <img src="./assets/dinner.svg" alt="Visa" />
                </div>

                <div class="number">GECB MESS</div>
                <div class="name">Nikhil Verma</div>
                <div class="from">Full time</div>
                <div class="to">06/21</div>
                <div class="ring"></div>
            </div>
        </div>

        <form class="credit-card" action="/profile/recharge" method="post">
            <div class="form-header">
                <h4 class="title">Credit card detail</h4>
            </div>

            <div class="form-body">
                <!-- Card Number -->
                <input type="text" class="card-number" placeholder="Card Number" />

                <!-- Date Field -->
                <div class="date-field">
                    <div class="month">
                        <select name="Month">
                            <option value="january">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                            <option value="april">April</option>
                            <option value="may">May</option>
                            <option value="june">June</option>
                            <option value="july">July</option>
                            <option value="august">August</option>
                            <option value="september">September</option>
                            <option value="october">October</option>
                            <option value="november">November</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                    <div class="year">
                        <select name="Year">
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div>

                <!-- Card Verification Field -->
                <div class="card-verification">
                    <div class="cvv-input">
                        <input type="text" placeholder="CVV" />
                    </div>
                    <div class="cvv-input">
                        <input type="text" placeholder="add money" name="money">
                    </div>

                    <div class="cvv-details">
                        <p>
                            3 or 4 digits usually found <br />
                            on the signature strip
                        </p>
                    </div>
                </div>

                <!-- Buttons -->
                <div>
                    <button type="submit" class="">
                        proceed
                    </button>
                    <button type="submit" class="">
                        <a href="#">Pay With</a>
                    </button>
                </div>
            </div>
        </form>

        <form action="/profile/recharge" method="post">
            <input type="text" placeholder="add money" name="money">
            <button type="submit">proceed</button>
        </form>
    </div>
</body>

</html>